################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.cs
/Profchat27/Class_Layer/obj/Debug
/Profchat27/Profchat27/obj/Debug
